---
import Heading from '@components/_V2/SectionHeading.astro'
---
<section class="py-10 sm:flex" id="About">
    <div class="py-5">
        <Heading index="01." title="" link="" />
    </div>
    <div class="text-xl md:text-2xl flex flex-col gap-y-6 tracking-tight leading-normal">
        <span class="font-medium"
            >Hi there! I'm a developer with a passion for coding meaningful user
            experiences. I stuided software engineering, where I honed my skills
            in understanding the intersection of technology and user needs. This
            educational foundation laid the groundwork for my career in the
            dynamic field of develompment.
        </span>
        <span class="text-black/80 font"
            >Over the years, I've delved into diverse industries. My
            specialization lies in Apps development with Angular, where I've had
            the opportunity to create and supporting intuitive apps and seamless
            interactions across various digital platforms.</span
        >
    </div>
</section>
