<section  class="py-10" id="PreFooter">
    <span class="font-medium text-3xl tracking-tight">Want to work together?</span>

    <div class="pt-24 pb-16 text-center tracking-tight">
        <a href="mailto:santiago.hdv@gmail.com" class="underline text-[35px] sm:text-[50px] md:text-[60px] font-semibold">santiago.hdv@gmail.com</a>
    </div>
</section>