---
interface props {
    index: string;
    title?: string;
    link?: string;
    // link?: {
    //     label?: string;
    //     href?: string;
    // };
}

const { title, index, link } = Astro.props;
---

<div
    class="flex gap-y-4 mb-4 flex-col sm:flex-row min-w-40 min-[640px]:items-center min-[640px]:justify-between"
>
    <span class="font-medium text-2xl tracking-tight md:text-3xl">{index}</span>
    {
        title !== "" ? (
            <div class="sm:px-12 font-semibold text-3xl tracking-tight md:text-4xl md:px-24">
                <span>{title}</span>
            </div>
        ) : (
            ""
        )
    }
    {
        link !== "" ? (
            <div class="font-medium tracking-wide md:min-w-[10rem] md:text-right">
                {" "}
                <a
                    class="underline underline-offset-8 decoration-[#ef4d48] "
                    href="#"
                >
                    {link}
                </a>{" "}
            </div>
        ) : (
            ""
        )
    }
</div>
