---
interface props {
    skill: string;
}

const { skill } = Astro.props;
---

<div class="flex flex-col items-center text-[12px] mr-3">
    <div class="p-3 rounded-[50%] bg-[#313236]">
        <slot />
    </div>
    <label> {skill} </label>
</div>
