---
interface props {
    imageUrl: string;
    title: string;
    description: string;
    independient: boolean;
}

const {
    imageUrl = "https://lh6.googleusercontent.com/8_h2GBv0KP1GolV1iLyLN5R9Kqr6bzDA980ndaqL-lfEipIfCK0iTSETHEninxI0ltMyV7lal0dXmnskNH9dMckz2nJiFdB_NDN5bPzc_DPXjPznS2hl1Y0NQYhwDNYqkW069wsMhJTOVToceUsoUg",
    title = "",
    description = "",
    independient = false,
} = Astro.props;
---

<div class="portfolio-item" style=`background-image: url(${imageUrl});`>
    <div class="overlay">
        <h3 class="text-xl font-bold mb-2">{title}</h3>
        <p class="text-sm">{description}</p>
        {
            independient ? (
                <span class="inline-block px-3 py-1 mt-5 text-xs font-semibold text-white bg-blue-400 rounded-full">
                    {" "}
                    Independent project{" "}
                </span>
            ) : (
                <p />
            )
        }
    </div>

    <style>
        .portfolio-item {
            height: 300px;
            width: 300px;
            background-size: cover;
            position: relative;
            transition: transform 0.3s ease;
        }
        .portfolio-item:hover .overlay {
            opacity: 1;
        }
        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.6);
            color: white;
            opacity: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            transition: opacity 0.3s ease;
        }
    </style>
</div>
