---
import LeftHeader from "../components/Header/LeftHeader.astro";
import NavMenu from "../components/Header/NavMenu.astro";
import SocialHeader from "../components/Header/SocialHeader.astro";
import PortfolioComponent from "../components/Portfolio/Portfolio.astro";
---

<div
    id="app"
    class="h-screen px-4 py-5 rounded-xl text-zinc-300 min-w-[750px] max-w-[1150px] m-auto"
>
    <div
        class="left-header rounded-tl-xl flex items-center bg-zinc-900 p-4 text-md"
    >
        <LeftHeader title="Santiago Hernandez" />
    </div>
    <div
        class="nav-header flex items-center justify-center bg-zinc-900 p-4 text-[14px]"
    >
        <NavMenu selected="Portfolio" />
    </div>
    <div
        class="right-header rounded-tr-xl flex items-center justify-center bg-zinc-900 p-4 text-[10px]"
    >
        <SocialHeader />
    </div>

    <div class="welcome border-t-2 border-black bg-zinc-900">
        <PortfolioComponent />
    </div>
    <div class="about bg-zinc-950 p-10"></div>
</div>

<style>
    @font-face {
        font-family: "Typewriter";
        src: url(../assets/fonts/Typewriter.ttf);
    }
    @font-face {
        font-family: "Typewriter-thin";
        src: url(../assets/fonts/Typewriter-Thin.ttf);
    }

    html {
        font-family: "Typewriter-thin", sans-serif;
        background: rgb(46, 46, 46);
    }
    #app {
        display: grid;
        grid-template-areas: "left-header nav-header right-header" "welcome welcome welcome" "about about about";
        grid-template-columns: 250px 1fr 250px;
        grid-template-rows: 80px 1fr 1fr;
    }

    .left-header {
        grid-area: left-header;
    }
    .nav-header {
        grid-area: nav-header;
    }
    .right-header {
        grid-area: right-header;
    }
    .welcome {
        grid-area: welcome;
    }
    .about {
        grid-area: about;
    }
</style>
