---
interface props {
    selected: string;
}

const { selected = "Home" } = Astro.props;

const header = [
    {
        selected: false,
        site: "Home",
        href: "https://sxavie.github.io/santiagohernandez/",
    },
    {
        selected: false,
        site: "Portfolio",
        href: "https://sxavie.github.io/santiagohernandez/portfolio",
    },
    // { selected: false, site: "Contact", href: "/santiagohernandez/contact" },
];

header.map((item) => {
    if (item.site === selected) {
        item.selected = true;
    }
});
---

<ul class="flex gap-4">
    {
        header.map((item) => {
            return (
                <li>
                    {" "}
                    <a
                        href={item.href}
                        class={item.selected ? "text-[#10f7d7]" : ""}
                    >
                        {" "}
                        {item.site}{" "}
                    </a>
                </li>
            );
        })
    }
</ul>
