---
interface props {
    title: string;
}

const { title } = Astro.props;
const code = "<C/>";
---

<div class="flex gap-2">
    <span class="text-[#10f7d7] font-bold">
        {code}
    </span>
    <span>
        {title}
    </span>
</div>
