<ul class="flex gap-4">
    <li>
        <a href="/#" class="hover:text-[#10f7d7]"> Home </a>
    </li>
    <li>
        <a href="/#" class="hover:text-[#10f7d7]"> Portfolio</a>
    </li>
    <li>
        <a href="/#" class="hover:text-[#10f7d7]"> Services</a>
    </li>
    <li>
        <a href="/#" class="hover:text-[#10f7d7]"> About</a>
    </li>
    <li>
        <a href="/#" class="hover:text-[#10f7d7]"> Contact</a>
    </li>
</ul>
